<div class="container">
  <main>
    <div>
      <h1>Cadastrar Produto</h1>
    </div>
    <div>
      <form class="example-form" action="">
        <mat-form-field class="example-full-width">
          <mat-label>Nome</mat-label>
          <input matInput type="text" />
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Tamanho</mat-label>
          <input matInput type="text" />
        </mat-form-field>
        <mat-form-field class="example-full-width" floatLabel="always">
          <mat-label>Preço</mat-label>
          <input
            matInput
            type="number"
            class="example-right-align"
            placeholder="0"
          />
          <span matTextPrefix>R$&nbsp;</span>
        </mat-form-field>
        <div class="example-button-row">
          <button mat-flat-button>Cadastrar</button>
        </div>
      </form>
    </div>
  </main>
</div>
